@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@700&display=swap');

:root {
	font-size: 62.5%;
	--clr-dark: #484747;
	--clr-accent: #27A7B7;
	--clr-light: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 1rem;
	font-family: 'Roboto', sans-serif;
}

.container-fluid {
	padding: 1rem 0;
}

.navbar-brand {
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding: 1.5rem;
	background: var(--clr-light);
	border-radius: 50%;
	box-shadow: 0.2rem 0.2rem 1rem #484747;
}

.navbar-brand img {
	height: 5rem;
	width: 12rem;
}

.navbar {
	background: var(--clr-accent);
	color: var(--clr-light);
}

.navbar-nav {
	margin: 0 auto;
}

.nav-item {
	padding: 0 1rem;
}

.nav-item a {
	text-decoration: none;
	font-size: 2rem;
	color: var(--clr-light);
}

.nav-item:hover {
	transform: scale(1.2);
	transition: transform 300ms ease-in-out;
}

.active {
	border-bottom: 2px solid #fff;
}

/* Buttons */

.btn {
	background: var(--clr-light);
	color: var(--clr-dark);
	font-size: 1.5rem;
	width: max-content;
	align-self: center;
	box-shadow: 0.2rem 0.2rem 0.2rem #484747;
}

.btn:hover {
	transform: scale(1.05);
	transition: transform 150ms ease;
}

.navbar > .btn {
	margin-right: 1rem;
}

@media screen and (max-width: 991px) {
	.navbar > .btn {
		display: none;
	}
}

#homepage-hero {
	background: url(/assets/images/homepage-hero.webp) no-repeat center center;
	height: 45rem;
	width: 100%;
	background-size: cover;
}

.homepage-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 2rem;
}

.card {
	width: 20%;
	text-align: center;
	height: 30rem;
	border: 0.1rem solid #484747;
	box-shadow: 0.2rem 0.2rem 0.8rem #484747;
}

.card:hover {
	transform: scale(1.05);
	transition: transform 250ms ease-in-out;
}

.footer-container{
	width: 100%;
	border-top: 2px solid var(--clr-dark);
	display: flex;
	background: var(--clr-accent);
}

.footer-item {
	width: 50%;
	padding: 1rem 2rem;
	align-self: center;
	text-align: center;
	color: var(--clr-light);
}

.footer-item > i {
	font-size: 4rem;
	padding: 0 2rem;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.footer-item > i {
		font-size: 2rem;
	padding: 1rem 2rem;
	}
}

.footer-item > i:hover {
	transform: scale(1.05);
	transition: transform 150ms ease;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto;
}

.container > * {
	width: 100%;
}

.quiz-hero {
	background: url(/assets/images/quiz-hero.webp) no-repeat center center;
	width: 100%;
	height: 30rem;
	text-align: center;
}

.hidden {
	display: none;
}

/* Progress Header */

.progress-header {
	display: flex;
	justify-content: space-between;
}

#progress-bar-outer {
	height: 2rem;
	border: 1px solid black;
	width: 100%;
}

#progress-bar-inner {
	background-color: black;
	height: 2rem;
	width: 20%;
}

/* Quiz */
.option-container {
	display: flex;
	width: 100%;
	margin-bottom: 0.5rem;
}

.option-container:hover {
	cursor: pointer;
}

.option-prefix {
	padding: 1.5rem 2.5rem;
}

.option-text {
	padding: 1.5rem;
}

.right {
	color: green;
}

.wrong {
	color: red;
}